body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    
}



.top-bar
{
     font-family: 'Montserrat', sans-serif;
    font-size:2rem;
    color: #66BFBF;
    font-weight: normal;
    background-color: transparent;
    margin-left: 5px;
    background-size: cover;
    position: relative;
    padding-top: 0.50px;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 5%;



}
.btn1{
    background-color: transparent;
    color: #bf44ec;
    margin-right: 15px;
    border: 1px solid #bf44ec;
    border-radius: 200px;
    border-color: #66BFBF;

}
.btn1:hover{
    background-color: white;}

 .btn2{
    background-color: transparent;
    color: #bf44ec;
    margin-right: 15px;
    border: 1px solid #bf44ec;
border-radius: 200px;
    border-color: #66BFBF;
}
.btn2:hover{
    background-color: white;}

    .btn3{
    background-color: transparent;
    color: #bf44ec;
    margin-right: 15px;
    border: 1px solid #bf44ec;
    border-radius: 200px;
    border-color: #66BFBF;

}
.btn3:hover{
    background-color: white;}

    .btn4{
    background-color: transparent;
    color: #bf44ec;
    margin-right: 15px;
    border: 1px solid #bf44ec;
    border-radius: 200px;
    border-color: #66BFBF;

}
.btn4:hover{
    background-color: white;}

    .btn0{
    background-color: transparent;
    color: #bf44ec;
    margin-right: 15px;
    border: 1px solid #bf44ec;
    border-radius: 200px;
    border-color: #66BFBF;

}
.btn0:hover{
    background-color: white;}

h1{
    font-size: 562.5%;
    margin: 20px auto 0 auto;
    color: #FF0000;
    font-family: 'Sacramento', cursive;
    line-height: 1.6;
    width: 55%;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: center;

    padding: 10px 30px;
    border-radius: 150px;
}





h3{
    
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.u{
    display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 10s; /* don't forget to set a duration! */
}
.A
{
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
    color: #66BFBF;
    font-weight: normal;
    border: 1px solid #bf44ec;
    border-radius: 500px;
    border-color: #66BFBF
    }

.B {
    
    width: 200px;
    height:200px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.D{
    
    width: 200px;
    height:200px;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.E{
     padding-top:30px;
     text-align: left;
     width: 80%;
     line-height: 1.5;
     margin: auto;
}

.F{
    
    width: 250px;
    height:250px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

.G{
     padding-top:30px;
     text-align: left;
     width: 80%;
     line-height: 1.5;
     margin: auto ;
}
table.C{
    margin: auto;
    table-layout: auto;
    text-align: left;
 
}
.intro{
    color: #ff5200;
    margin: auto;
    width: 60%;
    line-height: 1.5;
    text-align: center;
    animation-duration: 2.5s;
  animation-iteration-count: infinite;
    
}
.profile{
    padding-bottom: 30px;
}
.skills{
    padding-bottom: 40px;
}
.touch{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    padding-bottom: 15px;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 50px;
    
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 200px;
}
.bottom-cloud{
    position: absolute;
    top: 400px;
    left: 160px;
    
}

.middle-container{
    padding-top: 30px;
    position: relative;
}
.bottom-container{
    background-color: #e8e4e1;
    padding-top: 30px;
    padding-bottom:2px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.5rem;
    padding-top: 5px;
}

a:hover{
    color: #74d4c9;
}

.copyright{
    color: #9a1f40;
    font-size: 1rem;
    padding: 10px 0;
}

@media only screen and (min-width: 1000px)
{
    .middle-container
    {
     width: 100%;
    }
    .B {
    left: 250px;
    position: absolute;
    width: 200px;
    height:200px;
    padding-top: 40px;
    padding-bottom: 20px;
    float: left;
}
.D{
    right: 200px;
    position: absolute;
    width: 200px;
    height:200px;
    float: right;
    padding-top: 40px;
}
.E{
     padding-top:30px;
     text-align: left;
     width: 54%;
     line-height: 1.5;
     margin-left:160px;
}

.F{
    left: 140px;
    position: absolute;
    width: 250px;
    height:250px;
    float:left;
    padding-top: 60px;
    padding-bottom: 20px;
    
}
.G{
     padding-top:30px;
     text-align: left;
     width: 58%;
     line-height: 1.5;
     margin: auto 100px auto auto;
}
table.C{
    margin: auto 200px auto auto;
    table-layout: auto;
    text-align: left;
 
}
}